{% extends "master/base.html" %}

{% block upheader %}
O nas, czyli trochę o twórcach i samej stronie.
{% endblock %}

{% block upcontent %}
Jesteśmy studentami 4-tego i 6-tego semestru informatyki na Politechnice Białostockiej. Nazywamy się: Chrystian Kisło, Piotr Wyszyński, Mateusz Muszyński i Michał Sochacki.
<br><br>
Sama strona jest stworzona w ramach projektu na przedmiot "Rozwiązania Szkieletowe w Tworzeniu Aplikacji". Oparta na języku Python, ma na celu przeprowadzanie E-wyborów - wyborów przez internet.   
<br><br>
Strona posiada system rejestracji. Każdy zarejestrowany użytkownik może zakładać nowe wybory, gdzie będzie zgłaszał swoich kandydatów z puli dostępnych użytkowników. 
Same wybory mogą być przeprowadzane w dwojaki sposób: otwarty dla wszystkich lub dla wyznaczonych przy tworzeniu samych wyborów (tzw. whitelist).
<br><br>
Zalogowany użytkownik ma dostęp do wszystkich wyborów, ale może jedynie głosować w tych, do których ma dostęp. Jeżeli nie jest dopuszczony do głosowania, to od razu widzi wyniki głosowania.
 
{% endblock %}
