<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>E-Wybory</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/style.css" media="screen" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
<div id="container">
  <div id="banner">
   	<h2>E-Wybory:<br/>
   		
   	</h2><br/>
    <div id="leftBanner">
    	{% if local.request.user.is_authenticated %}
    		<p> Witaj: {{local.request.user.username}}</p>
    		<form method="post" action="/accounts/logout/">
			    	<span><input type="submit" value="Wyloguj sie" /></span>
			</form>
    	{% else %}
		    <form method="post" action="/accounts/login/">
		    	<table>
			    	<tr>
						<td><label>Login:</label></td>
						<td><input type="text" name="login"/></td>
					</tr>
			 
			    	<tr>
						<td><label>Hasło:</label></td>
						<td><input type="password" name="password"/></td>
					</tr>
					<tr>
						<td><input type="submit" value="Logowanie" /></td>
			    		<td><a href="/user/register/">Rejestracja</a></td>
			    	</tr>
		    	</table>
		    </form>
	    {% endif %}
    </div>	
    
  </div>
  <div id="navbar">
    <ul>
	    <li><a href="/">Strona główna</a></li>
	    <li><a href="/views/aboutUs/">O nas</a></li>
		<li><a href="/election/activeList/">Aktywne wybory</a></li>
		<li><a href="/election/inactiveList/">Zakonczone wybory</a></li>
		{% if local.request.user.is_authenticated %}
		<li><a href="user/profile">Profil Użytkownika</a></li>
		{% endif %}
    </ul>
  </div>
  <div class="clear"></div>
  <div id="sidebar">
    <h2>Aktywne Wybory:</h2>
    <div class="navlist">
      <ul>
        <li>Lista Aktywnych wyborów</li>
        {% for election in elections %}
        <li><a href="/election/electionView?election={{ election.id }}"> {{ election.name }} </a></li>
        {% endfor %}
      </ul>
    </div>
    
  </div>
  <div id="content">
    <h2>{% block upheader %}  {% endblock %}</h2>
    <blockquote> {% block upcontent %} {% endblock %} </blockquote>
  </div>
  
  <div class="clear"></div>
  <div id="footer" align="center">
  	By Piotr Wyszkowski, Mateusz Muszyński, Michał Sochacki and Chrystian Kisło
  </div>
</div>
</body>
</html>
