{% extends "master/base.html" %}

{% block upheader %}
<label>Rejestracja</label>
{% endblock %}

{% block upcontent %}
<form method="post" action="/user/registerUser/">
	<table>
		<tr>
			<td><label>Login:</label></td>
			<td><input type="text" name="userName" /></td>
		</tr>
		<tr>
			<td><label>Imie:</label></td>
			<td><input type="text" name="firstName" /></td>
		</tr>
		
		<tr>
			<td><label>Nazwisko:</label></td>
			<td><input type="text" name="lastName" /></td>
		</tr>
		
		<tr>
			<td><label>Hasło:</label></td>
			<td><input type="password" name="password" /></td>
		</tr>
		
		<tr>
			<td><label>Potwierdź hasło:</label></td>
			<td><input type="password" name="secPassword" /></td>
		</tr>
		
		<tr>
			<td><label>Email:</label></td>
			<td><input type="text" name="email" /></td>
		</tr>
		
		<tr>
			<td><label>Potwierdź Email:</label></td>
			<td><input type="text" name="secEmail" /></td>
		</tr>
		
		<tr>
			<td><input type="submit" value="OK" /></td>
			<td><input type="reset" value="Wyczyść" /></td>		
		</tr>
	</table>
</form>
{% endblock %}
