{% extends "master/base.html" %}

{% block upheader %}

<script type="text/javascript" src="/static/javaScript/userProfile.js"></script>

Profil Użytkownika 
{% endblock %}

{% block upcontent %}
{% if local.request.user.is_authenticated %}
	<form action="/user/editProfile/" method="post">
		<table>
			<tr>
				<td><label>Login:</label></td>
				<td><input required="required" type="text" name="login" value="{{local.request.user.username}}" /></td>
			</tr>
			
			<tr>
				<td><label>Imie:</label></td>
				<td><input required="required" type="text" name="firstName" value="{{local.request.user.first_name}}" /></td>
			</tr>
			
			<tr>
				<td><label>Nazwisko:</label></td>
				<td><input required="required" type="text" name="lastName" value="{{local.request.user.last_name}}" /></td>
			</tr>
		</table>
		<table id="passBar">
			<tr>
				<td><label>Stare hasło:</label></td>
				<td><input type="password" name="oldPassword" /></td>
			</tr>
			
			<tr>
				<td><label>Nowe Hasło:</label></td>
				<td><input type="password" name="password" /></td>
			</tr>
			
			<tr>
				<td><label>Potwierdź hasło:</label></td>
				<td><input type="password" name="secPassword" /></td>
			</tr>
		</table>
		<table id="emailBar">
			
			<tr>
				<td><label>Stary email:</label></td>
				<td><input type="email" name="oldEmail" value="" /></td>
			</tr>
			
			<tr>
				<td><label>Email:</label></td>
				<td><input type="email" name="email" /></td>
			</tr>
			
			<tr>
				<td><label>Potwierdź Email:</label></td>
				<td><input type="email" name="secEmail" /></td>
			</tr>
		</table>
		<table>
			<tr>
				<td><a id="changePass">Zmien haslo</a></td>
				<td><a id="changeEmail">Zmien email</a></td>
			</tr>
			<tr>
				<td><input type="submit" value="Zatwierdź" /></td>
			</tr>
		</table>
	</form>
{% else %}
	<div id="redirect"></div>
{% endif %}
{% endblock %}
